.rbc-calendar {
  width: 50%;
}
.rbc-toolbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.rbc-month-view,
.rbc-month-view *,
.rbc-month-row,
.rbc-month-row *,
.rbc-date-cell,
.rbc-date-cell *,
.rbc-header,
.rbc-header *,
.rbc-day-bg,
.rbc-day-bg * {
  border: none !important;
}

/* CustomCalendar.css 또는 글로벌 CSS 파일에 추가 */

.time-block-button {
  width: 40px; /* 원하는 너비 설정 */
  height: 25px; /* 원하는 높이 설정 */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
